body {

  background: linear-gradient(90deg, rgba(11, 107, 200, 1) 0%, rgba(60, 82, 163, 1) 50%, rgba(97, 61, 133, 1) 100%);
  margin: 0;
 
}



span {
  color: red;
}

header {
  background-image: url(img/banner/placa-solar.jpg);
  width: 800px;
  height: 800px;
  margin-top: 100%;
  display:contents;
  padding: 25px 40px 24px;
  
  
}
.nav-link, .nav-item {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  padding: fixed;
}



.title {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding: fixed;
}

img {
  width: 100%;
  height: 100%;

}
.img-banner { 
  width: 1500px;
  height: 800px;

}


.container { 
  width: 800px;
  height: 500px;
  background-color: transparent; 
  margin: 0 auto;
  position: relative;
  padding: 20px;

}
.col { 
  margin-inline-start: 1% ;
  margin-inline-end: 1% ;
  width: 49%;
  height: 500px;
  background-color: transparent;
  position: relative;
  padding: 20px
}
.geometria { 
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  animation: flutuar 2s ease-in-out infinite;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  font-family: 'Roboto Condensed', sans-serif;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   margin: 0 10% 0 0;
}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 
}

.flip-card-front {
  background-color: #fff;
  color: #fff;

}


.flip-card-back {
  background: linear-gradient(90deg, rgba(11, 107, 200, 1) 0%, rgba(60, 82, 163, 1) 50%, rgba(97, 61, 133, 1) 100%);
  color: white;
  transform: rotateY(180deg);
}


/*carrosel*/
.servicos-destaque {
  position: relative;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  
}
col { 
  width: 25%;
  height: 25%;
  margin: -30px;
  padding: 0%;
  display: inline-block; 

  
}

.title-servicos, .slogan { 
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  margin-block-end: 10vh;

}
.wrapper {
  perspective: 500px;
  transform: rotatex(10deg);
  animation: rotateAngle 6s linear infinite;
  margin: auto;
  width: auto;
  height: auto;
  position: relative;
 }
 
 .button-saiba {
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-size: 19px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
 }
 
 .button-saiba:before, .button-saiba:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
 }
 
 .button-saiba:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
 }
 
 .button-saiba:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
 }
 
 @keyframes rotateAngle {
  0% {
   transform: rotateY(0deg) rotateX(10deg);
   -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
   animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
 
  25% {
   transform: rotateY(20deg) rotateX(10deg);
  }
 
  50% {
   transform: rotateY(0deg) rotateX(10deg);
   -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
   animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
 
  75% {
   transform: rotateY(-20deg) rotateX(10deg);
  }
 
  100% {
   transform: rotateY(0deg) rotateX(10deg);
  }
 }
 
 @keyframes translateWobble {
  0% {
   opacity: 0;
   transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
 
  16% {
   transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
 
  28% {
   opacity: 1;
   transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
 
  44% {
   transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
 
  59% {
   transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
 
  73% {
   transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
 
  88% {
   opacity: 1;
   transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }
 
  100% {
   opacity: 1;
   transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
 }
.container-sun {
  float: center;
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-end: 30vh;
 float: inline-start;
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}




h1, h2, h3, h4, h5 { 
  color: white;
 font-family: 'Roboto Condensed', sans-serif;
}



/*rodapé*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.text-form { 
  margin-block-end: 5em;
  margin-block-start: 5em;
  width: 42%;
  margin-right: 30%;
  text-align: center;

}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*Serviços*/
.cards {
  display: flex;
  flex-direction: column;
  
gap: 15px;}


.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}


/*formulario*/

/* you can choose any color you want. don't be afraid to experiment  */

.input,
.button-form {
  width: 100%;
  height: 40px;
  position: relative;
  padding: 10px;
  border: 0.1px solid #575cb5;
}

.button-form {
  background: #6d74e3;
  border: none;
}

.wrapper-form {
  position: relative;
  transform: skewY(-14deg);
}

.wrapper-form li,
.button-form {
  position: relative;
  list-style: none;
  width: 200px;
  z-index: var(--i);
  transition: 0.3s;
  color: white;
}

.wrapper-form li::before,
.button-form::before {
  position: absolute;
  content: '';
  background: #6d74e3;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.3s;
}

.wrapper-form li::after,
.button-form::after {
  position: absolute;
  content: '';
  background: #6d74e3;
  width: 200px;
  height: 40px;
  top: -40px;
  left: 0;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.3s;
}

.wrapper-form li:nth-child(1)::after,
.wrapper-form li:nth-child(1)::before {
  background-color: #d8daf7;
}

.wrapper-form li:nth-child(2)::after,
.wrapper-form li:nth-child(2)::before {
  background-color: #c2c5f3;
}

.wrapper-form li:nth-child(3)::after,
.wrapper-form li:nth-child(3)::before {
  background-color: #989deb;
}

li .input {
  outline: none;
  border: none;
  color: black;
}

li .input::placeholder {
  color: black;
}

li:nth-child(1) .input {
  background: #d8daf7;
}

li:nth-child(2) .input {
  background: #c2c5f3;
}

li:nth-child(3) .input {
  background: #989deb;
}


li:nth-child(1) .input:focus {
  outline: none;
  border: 3.5px solid #d8daf7;
}

li:nth-child(2) .input:focus {
  outline: none;
  border: 3.5px solid #c2c5f3;
}

li:nth-child(3) .input:focus {
  outline: none;
  border: 3.5px solid #989deb;
}

.wrapper-form li:hover,
button:hover {
  transform: translateX(-20px);
}

.button-form:hover,
button:hover::before,
button:hover::after {
  background: #575cb5;
}

.button-form:active {
  transform: translateX(0px);
}

.visually-hidden {
  display: none;

}

.planta {
  width: 100px;
  height: 100px;
  margin-block-end: 10%;
  margin-left: 5cm;;
  float: left;
  margin: 0;
  padding-inline-end: 0;
}
/* Definindo a animação */
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Aplicando a animação na imagem */
.imagem-flutuante {
  animation: flutuar 2s ease-in-out infinite;
}


/* Serviços Realizados*/

.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}

